PORT=4100
KEYCLOAK_ISSUER_URL=http://localhost:8080/realms/lis
GATEWAY_CLIENT_ID=lis-gateway
GATEWAY_CLIENT_SECRET=dev-only-lis-gateway-secret
GATEWAY_FORWARD_URL=http://localhost:4000/internal/gateway/ingest
GATEWAY_FORWARD_INTERVAL_MS=2000
GATEWAY_QUEUE_DIR=./data/queue
